#header{
	background-color: red;
    margin-left: auto;
    margin-right: auto;
	width: 50em;
	height:10em;	
}
#main{
    background-color:black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom:1em;
	width: 50em;
    height: 60em;
    overflow: hidden;
}
#footer{
	background-color: red;
    width: 50em;
    margin-left: auto;
    margin-right: auto;
}
#logo{
    position:relative;
    color:yellow;
    top: 1em;
    left: 1em;
    font-size: 2em;
    right:0em;
}
#menu{
    position: relative;
    top:6em;
    left:10em;
}
#login{
      position: relative;
      margin-right:1em;
      margin-top:1em;
      float:right;
}
#footer_info {
    position:relative;
    text-align:center;        
}

#nupurida{
    position: relative;
    left: 6em;
    color: white;
    background-color: blue;
    width: 15em;
    text-align: center;
}

#pastefield{
    position: relative;
    left: 6em;
    top: 2em;
    display: inline-block;   
    background-color: white;
    width: 75%;
    height: 20em;
}

#preview{
   position: relative;
   left: 6em;
   top: 2em;
   display: inline-block;   
   background-color: grey;
   width: 75%;
   height: 15em;
}
#submit{
    position: relative;
    top: 3em;
    left: 40em;
}

#syntaxnupud{
    position: relative;
    top: 3em;
    left: 6em;
    color: white;
}

#syntax{
    display: inline-block;
}

#field{
    display: inline-block;
    background-color: white;
    color: black;
    width: 5em;
}

#tekst{
    position: relative;
    margin-left: 2em;
}

#Paste{
    position: relative;
    top: 1em;
    left: 2em;
    font-size: 2em;
    color:white;}
}