.form {
	width: 18em;
	height: 20em;
	margin: auto;
	padding: 3em;
}

.form input {
	float: right;
	margin-bottom: 1em;
}

.form label {
	text-align: right;
	display:block;
	float: left;
	margin-bottom: 1em;
}

br {
	clear: left;
}