.form {
	width: 35%;
	height: auto;
	margin: auto;
	padding: 3%;
}

.form input {
	float: right;
	margin-bottom: 1em;
}

.form label {
	text-align: left;
	display:block;
	float: left;
	margin-bottom: 1em;
}

br {
	clear: left;
}