#setting_nupud{
    position: relative;
    top: 15em;
    left: 20em;
    display: inline-block;
    
}

#main{
    position: relative;
    height: 60em;
}

#nimi{
    position: relative;
    left: 7em;
    width: 54em;
}

#forgot{
    position: absolute;
    display: inline-block;
    left: 3em; 
    top: 4em;
}
#submit2{
    position: absolute;
    display: inline-block;
    left: 14em;
    top: 4em;    
}


/* #password{
    position: absolute;
    height: 25em;
    width: 54em;
} */

#Paste{
    position: relative;
    top: 1em;
    left: 2em;
    font-size: 2em;
    }

#syntaxnupud{
    position: relative;
    top: 1em;
    left: 5em;
    
}

#pastefield{
    position: relative;
    left: 6em;
    top: 2em;
    display: inline-block;   
    background-color: white;
    width: 75%;
    height: 20em;
}

#tekst{
    position: relative;
    left: 7em;
    top: 2em;    
}

#preview{
   position: relative;
   left: 7em;
   top: 1em;
   display: inline-block;   
   background-color: grey;
   width: 75%;
   height: auto;
}
#Preview2{
    position: relative;
    top: 1em;
    left: 2em;
    font-size: 2em;
}
#tekst2{
    position: relative;
    top:1em;
    left:2em;
}

#submit2{
    position: relative;
    top: 2em;
    left:48em;
    display: inline-block;
    border: 2px solid #6495ED;
    border-radius: 2em;
    width: 4em;
    background-color: #BCD2EE;
    text-align: center;
}
#syntax2{
    position: relative;
    top: 2em;
    display: inline-block;
    left: 2em;
}

#syntax1{
    position: relative;
    top: 2em;
    display: inline-block;
    left: 2em;
}


/*22.05*/
.container {
	box-sizing: border-box;
	padding: 20px 40px;
}

#preview-wrap {
	height: 350px;
	overflow-y: scroll;
	margin: 20px auto;
	background-color: #f5f2f0;
}
#preview-contents {
	display:block;
	min-height: 30px;
	outline: none;
}

.pull-pight {
	float: right !important;
	margin-right: 0 !important;
}

.form-row {
	overflow: hidden;
}
.form-row label {
	display: block;
}
.form-row label.label-inline {
	display: inline-block;
	margin-right: 30px
}

.form-row input[type="text"],
.form-row textarea {
	display: block;
	width: 100%;
}

.form-row .editor {
	height: 350px;
}