#setting_nupud{
    position: relative;
    top: 15em;
    left: 20em;
    display: inline-block;
    
}
#forgot{
    position: absolute;
    display: inline-block;
    left: 3em; 
    top: 4em;
}
#submit{
    position: absolute;
    display: inline-block;
    top: 24em;
    left: 47em;    
    border:1em;
}


#old_username{
    position: absolute;
    left: 50em;
}

#new_password{
    position: absolute;
    left: 50em;
}

#new_password_again{
    position: absolute;
    left: 50em;
}
