#view{
	border: 1px solid green;
	padding: 0.5em;
	background-color: white;
	width: 75%;
	height: 450px;
	overflow-y: scroll;
	margin: 20px auto;
	background-color: #f5f2f0;
}

#viewbuttons{
	margin-left: 35em;
}

#nameOfPaste {
	margin-left: 5em;
}