<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

    <welcome-file-list>
        <welcome-file>paste.html</welcome-file>
    </welcome-file-list>
    

  
    <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>ee.ut.vl.LoginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login.html</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>ee.ut.vl.RegisterServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PasteServlet</servlet-name>
    <servlet-class>ee.ut.vl.PasteServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>PasteServlet</servlet-name>
    <url-pattern>/paste</url-pattern>
  </servlet-mapping>
  

  <servlet>
    <servlet-name>MyPastesServlet</servlet-name>
    <servlet-class>ee.ut.vl.MyPastesServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>MyPastesServlet</servlet-name>
    <url-pattern>/mypastes</url-pattern>
  </servlet-mapping>
  

</web-app>
